# https://stackoverflow.com/a/40821931/9088682
# It is a good idea to keep a .gitattributes file as we don't want to expect everyone in our team set their config.
# This file should keep in repo's root path and if exist one, git will respect it.
# ```
# * text=auto
# ```
# This will treat all files as text files and convert to OS's line ending on checkout and back to LF on commit automatically.
* text auto
